<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kh.spring.dto.MemberDTO" alias="dto"/>
		<typeAlias type="kh.spring.dto.TipDTO" alias="TipDTO"/>
		<typeAlias type="kh.spring.dto.TipGoodDTO" alias="TipGoodDTO"/>
		<typeAlias type="kh.spring.dto.TipCommentDTO" alias="TipCommentDTO"/>
		<typeAlias type="kh.spring.dto.SocialBoardDTO" alias="sdto"/>	
		<typeAlias type="kh.spring.dto.GoodDTO" alias="gdto"/>
		<typeAlias type="kh.spring.dto.CollectionDTO" alias="CollectionDTO"/>
		<typeAlias type="kh.spring.dto.StylingVoteDTO" alias="svdto"/>	
		<typeAlias type="kh.spring.dto.StylingVoteItemDTO" alias="svitemDTO"/>
		<typeAlias type="kh.spring.dto.StylingVoteUserDTO" alias="svuserDTO"/>	
		<typeAlias type="kh.spring.jsonobject.StylingParam" alias="sparam"/>
		<typeAlias type="kh.spring.dto.SocialTagDTO" alias="stdto"/>	
		<typeAlias type="kh.spring.dto.FollowDTO" alias="FollowDTO"/>	
	</typeAliases>
</configuration>



