<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Members">
	<select id="selectData" resultType="dto">
	select * from users where email=#{email} and pw=#{pw}
	</select>
	<insert id="insertData" parameterType="dto">
	 insert into users values(users_seq.nextval,#{email},#{pw},#{name}, , ,home,sysdate,n,1.jpg,n, ,#{age})
	</insert>
	
	<select id="emailExist" resultType="dto">
	select * from users where email=#{email}
	</select>
</mapper>