<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Messages">

<insert id="sendMessage" parameterType="MessagesDTO">
	insert into message values(message_seq.nextval,#{user_seq},#{message_contents},sysdate,#{message_user_seq},'n','n','n')
</insert>
	
<select id="selectMessage" resultType="MessagesDTO">
	select * from message where user_seq = #{user_seq} and message_user_seq= #{message_user_seq} or message_user_seq=#{user_seq} and user_seq= #{message_user_seq}
</select>
<select id="userList" resultType="MessagesDTO">
  select Distinct(seq ),u.name,u.photo from users u,message m where  not u.seq =#{user_seq} and (seq in(select message_user_seq from message where seq =#{user_seq})) or (seq in(select user_seq from message where message_user_seq =#{user_seq}))
</select>
<select id="userLastMessage" resultType="MessagesDTO">
select * from(select * from message where (user_seq = #{user_seq} and message_user_seq =#{message_user_seq}) or (user_seq =#{message_user_seq} and message_user_seq =#{user_seq}) ORDER by message_time desc) where rownum =1
</select>

</mapper>