<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Report">
	
	<insert id="reportArticle" parameterType="ReportDTO">
		insert into report values(report_seq.nextval, #{user_seq}, #{report_reason}, #{reporting_user}, #{board_seq}, #{board})
	</insert>
	
	<select id="checkArticle" resultType="ReportDTO">
		select * from report where board_seq = #{board_seq, jdbcType=INTEGER} and reporting_user = #{reporting_user} and board = #{board}
	</select>
	
	<select id="getAllData" resultType="kh.spring.dto.AdminPageDTO">
		select user_seq, u.count report_count, report_reason, user_name, email, create_date, block from report r, (select u.*, rc.count from users u, (select user_seq, count(*) count from report group by user_seq) rc where u.seq = rc.count) u where r.USER_SEQ = u.seq
	</select>
	
</mapper>