<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SocialBoard">
	<select id="showSocialBoardList" resultType="sdto">
		select * from social
	</select>
	
	<select id="getSocialBoardcurrval" resultType="int">
		select social_seq.currval from dual
	</select>
	
	<insert id="insertSocialBoard" parameterType="sdto">
		insert into social values(social_seq.nextval, #{social_title}, #{social_contents}, #{social_writer}, sysdate, #{photo},#{social_gender},#{social_age})
	</insert>
	
	<select id="selectSocialBoard" parameterType="int" resultType="sdto">
		select * from social where social_seq = #{0}
	</select>
	
	<update id="updateSocialBoard" parameterType="sdto">
		update social set social_title = #{social_title}, social_contents = #{social_contents}, social_gender = #{social_gender}, social_age = #{social_age} where social_seq = #{social_seq}	
	</update>
	
	<select id="deleteSocialBoard" parameterType="int">
	 	delete from social where social_seq=#{0}
	</select>
	
	<select id="getCollectionList" parameterType ="dto" resultType="CollectionDTO">
		select * from collection where collection_writer = #{seq}
	</select>
	
	<select id="getCollectionPhotoList" resultType="sdto">
		select c1.collection_seq, c2.social_seq, c2.photo from (select c.collection_seq, c.social_seq, s.photo from collection_content c, social s where c.social_seq = s.social_seq) c2, collection c1 where c2.collection_seq = c1.collection_seq and c1.collection_writer = #{seq}
	</select>
	
	<select id="getCollectionSocialList" resultType="sdto">
		select c.collection_seq, s.social_seq, s.social_title, s.social_contents, s.social_writer, to_char(s.social_date, 'YYYY/MM/DD') social_date,  s.photo, s.social_gender, s.social_age, u.name writerName from collection_content c, social s, users u where c.social_seq = s.social_seq and s.social_writer=u.seq and c.collection_seq = #{collection_seq}
	</select>
	
	<select id="getMySocialList" parameterType ="dto" resultType="sdto">
		select s.*, u.name social_writerName from social s, users u where s.social_writer = u.seq and s.social_writer=#{seq} order by social_date desc
	</select>
	
	<select id="getCollectionData" resultType="CollectionDTO">
		select c.*, u.name writerName from collection c, users u where c.collection_writer = u.seq and collection_seq = #{collection_seq}
	</select>
	
	<insert id="insertCollectionContent" parameterType="CollectionDTO">
		insert into collection_content values(#{collection_seq}, )
	</insert>
</mapper>