<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SocialComment">
	<select id="showCommentList" resultType="scdto" parameterType="int">
		select sc.social_comment_seq, sc.social_seq, sc.user_seq, sc.social_comment_time, sc.social_comment_contents,u.name,u.photo from social_comment sc, users u, social s where u.seq = sc.user_seq and sc.social_seq = s.social_seq and sc.social_seq = #{0}
	</select>
</mapper>