<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Styling">

	<insert id="insertStylingVote" parameterType="svdto">
		insert into styling_vote values(styling_vote_seq.nextval, #{styling_title},#{styling_contents},#{styling_writer},sysdate,0,#{styling_end},#{styling_endterm,jdbcType=DATE},#{styling_voternum,jdbcType=INTEGER},#{photo,jdbcType=VARCHAR},#{styling_writeip,jdbcType=VARCHAR},'n',sysdate)
	</insert>

	<select id="selectStylingSeq" resultType="int">
		select styling_vote_seq.nextval from dual
	</select>

	<insert id="insertStylingVoteItem" parameterType="svitemDTO">
		insert into styling_vote_item
		values(#{styling_vote_seq},styling_vote_item_seq.nextval,
		#{styling_vote_item_contents}, #{styling_vote_item_photo})
	</insert>
	
	<select id="selectStylingBoard" resultType="svDTO">
	select s.styling_vote_seq, s.styling_title, s.styling_writer, s.styling_writedate, s.styling_viewcount, s.styling_end,s.styling_endterm,s.styling_voternum,s.photo,u.name as styling_writername  from styling_vote s,users u where s.styling_writer = u.seq and s.styling_delete_flag='n' order by s.styling_writedate desc
	</select>
	
	<select id="selectStylingVote" parameterType="int" resultType="svDTO">
	<!-- select * from (select s.styling_vote_seq, s.styling_title, s.styling_contents, s.styling_writer, s.styling_writedate, s.styling_viewcount, s.styling_end, s.styling_endterm,s.styling_voternum, s.photo, si.styling_vote_item_seq, si.styling_vote_item_contents,si.styling_vote_item_photo from styling_vote s, styling_vote_item si where s.styling_vote_seq=si.styling_vote_seq)selvote where styling_vote_seq = #{styling_vote_seq} -->
	select s.styling_vote_seq, s.styling_title, s.styling_contents, s.styling_writer, s.styling_writedate, s.styling_viewcount, s.styling_end,s.styling_endterm,s.styling_voternum,s.photo,u.name as styling_writername  from styling_vote s,users u where s.styling_writer = u.seq and s.styling_vote_seq = #{styling_vote_seq}
	</select>
	
	<select id="selectStylingVoteItem" parameterType="int" resultType="svitemDTO">
	<!-- select * from (select s.styling_vote_seq, s.styling_title, s.styling_contents, s.styling_writer, s.styling_writedate, s.styling_viewcount, s.styling_end, s.styling_endterm,s.styling_voternum, s.photo, si.styling_vote_item_seq, si.styling_vote_item_contents,si.styling_vote_item_photo from styling_vote s, styling_vote_item si where s.styling_vote_seq=si.styling_vote_seq)selvote where styling_vote_seq = #{styling_vote_seq} -->
	select *  from styling_vote_item where styling_vote_seq = #{styling_vote_seq}
	</select>
	
	<select id="selectDidVote" parameterType="sparam" resultType="int">
		select count(*) from styling_vote_user where styling_vote_seq= #{styling_vote_seq} and user_seq=#{seq}
	</select>
	
	<insert id="doStylingVote" parameterType="svuserDTO">
		insert into styling_vote_user
		values(#{styling_vote_seq},
		#{user_seq}, #{vote_value})
	</insert>
	
	<update id="deleteStylingVote" parameterType="int">
		update styling_vote set styling_delete_flag = 'y' where styling_vote_seq= #{styling_vote_seq}
	</update>
	
	<update id="modifyStylingVote" parameterType="svDTO">
		update styling_vote set styling_title= #{styling_title}, styling_contents= #{styling_contents},styling_end=#{styling_end},styling_endterm=#{styling_endterm,jdbcType=DATE},styling_voternum=#{styling_voternum,jdbcType=INTEGER},photo=#{photo,jdbcType=VARCHAR},styling_lastdate=sysdate where styling_vote_seq=#{styling_vote_seq}
	</update>
	
	
	<update id="updateStylingViewcount" parameterType="int">
		update styling_vote set styling_viewcount =(nvl(styling_viewcount,0)+1) where styling_vote_seq = #{styling_vote_seq}
	</update>

</mapper>