<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TipBoard">

<resultMap type="TipDTO" id="TipDTOResultMap">
<result property="tip_seq" column="tip_seq" jdbcType="INTEGER" javaType="java.lang.Integer"/>
<result property="tip_title" column="tip_title" jdbcType="VARCHAR" javaType="java.lang.String"/>
<result property="tip_contents" column="tip_contents" jdbcType="CLOB" javaType="java.lang.String" />
<result property="tip_writer" column="tip_writer" jdbcType="INTEGER" javaType="java.lang.Integer"/>
<!-- <result property="tip_date" column="tip_date" jdbcType="DATE" javaType="java.util.Date"/> -->
<result property="tip_viewcount" column="tip_viewcount" jdbcType="VARCHAR" javaType="java.lang.String"/>
<result property="category" column="category" jdbcType="VARCHAR" javaType="java.lang.String"/>
</resultMap>

<!-- 글쓰기 sql -->
<insert id="insertData" parameterType="TipDTO">
insert into TIP values(TIP_SEQ.NEXTVAL,#{tip_title},#{tip_contents},#{tip_writer},sysdate,#{tip_viewcount},#{category})
</insert>

<!-- tip articles get sql -->
<select id="getBeautyTipData" parameterType="TipDTO" resultMap="TipDTOResultMap">
select * from Tip where category='뷰티' order by tip_seq DESC
</select>

<select id="getDietTipData" parameterType="TipDTO" resultMap="TipDTOResultMap">
select * from Tip where category='다이어트' order by tip_seq DESC
</select>

<select id="getFashionTipData" parameterType="TipDTO" resultMap="TipDTOResultMap">
select * from Tip where category = '패션' order by tip_seq DESC
</select>

<select id="getBusinessTipData" parameterType="TipDTO" resultMap="TipDTOResultMap">
select * from Tip where category='직장생활' order by tip_seq DESC
</select>

<!-- specific article get sql by #{tip_seq} number -->
<select id="getSpecificTipView" parameterType="TipDTO" resultMap="TipDTOResultMap">
select * from Tip where tip_seq=#{seq}
</select>

<!-- tip board viewcount +1 proc -->
<update id="viewCountPlus" parameterType="TipDTO">
update tip set tip_viewcount = tip_viewcount+1 where tip_seq=#{seq}
</update>

<!-- tipArticle Like +1 Proc -->
<insert id="tipArticleLikeProc" parameterType="TipDTO">
insert into tip_good values(TIP_GOOD_SEQ.NEXTVAL,#{seq},0)
 </insert>



</mapper>