<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TipComment">


<resultMap type="TipCommentDTO" id="TipCommentDTOResultMap">
<result property="tip_seq" column="tip_seq" jdbcType="INTEGER" javaType="java.lang.Integer"/>
<result property="tip_comment_seq" column="tip_comment_seq" jdbcType="INTEGER" javaType="java.lang.Integer"/>
<result property="user_seq" column="user_seq" jdbcType="INTEGER" javaType="java.lang.Integer"/>
<result property="tip_comment_contents" column="tip_comment_contents" jdbcType="VARCHAR" javaType="java.lang.String"/>
</resultMap>


<insert id="insertTipCommentProc" parameterType="TipCommentDTO">
insert into 
tip_comment(tip_comment_seq, tip_seq, user_seq, tip_comment_time, tip_comment_contents) 
values(tip_comment_seq.nextval, #{tip_seq,javaType=Integer,jdbcType=INTEGER}, 0, sysdate, #{tip_comment_contents,javaType=String,jdbcType=VARCHAR})
</insert>

<select id="getCommentsFromTip" parameterType="int" resultMap="TipCommentDTOResultMap">
select * from tip_comment tc, users u where tc.user_seq = u.seq and tc.tip_seq=#{0}
</select>

</mapper>